# Entorno virtual
venv/
.venv/

# Archivos de Python
__pycache__/
*.pyc

# Variables de entorno
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Credenciales Mysql 
MYSQL_HOST=mysql
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DB=salas_db

data/
